:root {
  --float-length: 20px;
  --border-width: 2px;
}

.max-size,
.grid::before,
#contact-dialog::before {
  height: 100%;
  width: 100%;
}

.max-width {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.bg-primary,
.button.right:hover,
.button.right::before {
  background-color: var(--primary-color);
}

.relative {
  position: relative;
}

.grid:hover::before,
#contact-dialog:hover::before {
  opacity: 1;
}

.grid::before {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
}

.grid::before,
#contact-dialog::before,
.button::before {
  content: "";
}

.grid::before,
#contact-dialog::before {
  top: 0;
  transition: opacity 500ms;
  left: 0;
}

.z-2,
.grid::before,
#contact-dialog::before {
  z-index: 2;
}

#contact-dialog::before {
  background: radial-gradient(
    1000px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.1),
    transparent 60%
  );
}

@media (hover: none) {
  #contact-dialog::before {
    opacity: 1;
  }
}

.flex-column {
  flex-direction: column;
}

.bg-secondary,
.button.left:active,
.button.left::before {
  background-color: var(--secondary-color);
}

.grid {
  transition: transform 0.2s;
}

.size-grid-dimen {
  width: var(--grid-dimension);
}

.h-grid-dimen,
.size-grid-dimen {
  height: var(--grid-dimension);
}

.move {
  transform: translateX(calc(var(--grid-dimension) * -1));
}

.color-primary,
.button.left:hover,
.button.left:active,
.button.left:active p,
.button.left:hover p {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.row:nth-child(1) a:nth-child(1):hover .grid {
  transform: translate(
    calc(-1 * var(--float-length)),
    calc(-1 * var(--float-length))
  );
  box-shadow: 10px 10px 0 0 var(--primary-color);
}

.row:nth-child(2) a:nth-child(3):hover .grid {
  transform: translateX(var(--float-length));
  box-shadow: -10px 0 0 0 var(--primary-color);
}

.cursor-default {
  cursor: default;
}

.center-text {
  text-align: center;
}

.color-secondary,
.button.right:hover,
.button.right:active {
  color: var(--secondary-color);
}

.cursor-pointer {
  cursor: pointer;
}

.align-items-center,
.flex-center {
  align-items: center;
}

.absolute,
.grid::before,
#contact-dialog::before,
.button::before {
  position: absolute;
}

#gsps .grid {
  z-index: 1;
  transition: all 0.8s;
}

.button {
  padding: 10px 5px;
  margin: 8px;
  transition: all 0.2s;
  overflow: hidden;
  z-index: 3;
  border: var(--border-width) solid transparent;
  font-size: 0.8rem;
}

.button.left {
  background-color: transparent;
}

.button::before {
  top: 50%;
  left: 50%;
  z-index: -2;
  transition: all 0.3s ease;
  width: 200%;
  height: 0;
}

.button.right::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button.left::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button:hover::before {
  height: 400%;
}

.button.left:active {
  border-color: transparent;
}

.icon {
  --size: calc(0.5 * var(--grid-dimension));
  width: var(--size);
  height: var(--size);
}

.move-up,
.full-name {
  box-shadow: 0 10px 0 0 var(--primary-color);
  border: var(--border-width) solid var(--secondary-color);
}

.move-up {
  transform: translateY(calc(-1 * var(--float-length)));
}

.full-name {
  width: calc(var(--grid-dimension) * 2);
  right: 0;
  top: calc(-1 * var(--float-length));
}

.hidden {
  display: none;
}

.margin-auto {
  margin: auto;
}

.width-80-percent {
  width: 80%;
}

#contact-dialog {
  max-width: 500px;
}

input {
  background: none;
  border: none;
}

.button-container {
  justify-content: space-between;
  margin: 1rem 0;
}

.button-container .button {
  width: 40%;
}

a:focus-visible,
button:focus-visible,
.button:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: none;
}

a:focus-visible,
button:focus-visible,
.button:focus-visible {
  box-shadow: 0 0 0 2px rgb(204, 156, 0);
}

.contact-inputs {
  justify-content: space-evenly;
  height: 10rem;
}

.contact-input {
  height: 2rem;
  padding: 1rem;
}

.contact-input,
textarea {
  background-color: var(--shadow-color);
  border: 1px solid transparent;
  transition: 0.2s all ease;
  color: rgb(128, 128, 128);
}

.contact-input::placeholder,
textarea::placeholder,
.grid::before,
dialog::before {
  opacity: 0;
}

dialog[open] {
  animation-duration: 0.4s;
  animation-name: show-dialog-animation;
}

@keyframes show-dialog-animation {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

dialog {
  border: none;
}

span {
  top: -1.5rem;
  margin-left: 1rem;
}

label:focus-within > .contact-input,
input:not(:placeholder-shown),
textarea:focus,
textarea:not(:placeholder-shown),
.button:hover,
.button.right:active {
  border-color: var(--secondary-color);
}

textarea {
  padding: 0.5rem 1rem;
  max-height: 10rem;
  min-height: 2rem;
  min-width: 100%;
}

.contact-input:focus-visible,
textarea:focus-visible {
  border-right-width: 5px;
}

form {
  padding-top: 2rem;
}