@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --secondary-color: white;
    --primary-color: #222;
    --shadow-color: #111;
    --grid-dimension: 110px;
    --float-length: 20px;
    --border-width: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.description {
    height: 100%;
}

body {
    font-family: 'Fira Code', monospace;
}

body,
.container, 
.row, 
.grid,
.description,
#gsps,
.full-name {
    display: flex;
}

body,
.grid,
.full-name {
    justify-content: center;
    align-items: center;
}

body,
.grid,
.see-report-button:hover,
.full-name {
    background-color: var(--primary-color);
}

.grid {
    position: relative;
}

.grid:hover::before {
    opacity: 1;
}

.grid::before {
    background: radial-gradient(
        400px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06), 
        transparent 40%
    );
    height: 100%;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 500ms;
    left: 0;
    z-index: 2;
}

.row {
    position: relative;
}

.container {
    background-color: var(--secondary-color);
    flex-direction: column;
}

.grid {
    width: var(--grid-dimension);
    height: var(--grid-dimension);
    transition: transform 0.2s;
}

.move {
    transform: translateX(calc(var(--grid-dimension) * -1));
}

#gsps > p {
    height: var(--grid-dimension);
    width: var(--grid-dimension);
}

@media (min-width: 400px) {
    :root {
        --grid-dimension: 120px;
    }
}

@media (min-width: 700px) {
    :root {
        --grid-dimension: 160px;
    }
}

@media (min-width: 1000px) {
    :root {
        --grid-dimension: 180px;
    }
}

a {
    color: var(--primary-color);
    position: relative;
    cursor: default;
    text-decoration: none;
}

.row:nth-child(1) a:nth-child(1):hover .grid {
    transform: translate(calc(-1 * var(--float-length)), calc(-1 * var(--float-length)));
    box-shadow: 10px 10px 0 0 var(--primary-color);
}

.row:nth-child(2) a:nth-child(3):hover .grid {
    transform: translateX(var(--float-length));
    box-shadow: -10px 0 0 0 var(--primary-color);
}

p, .description {
    cursor: default;
}

p {
    color: var(--secondary-color);
}

a p,
.clickable p,
.clickable, 
.link,
#gsps .grid, 
.see-report-button,
#button {
    cursor: pointer;
}

.description {
    width: 100%;
    color: var(--primary-color);
    position: absolute;
    text-align: center;
    align-items: center;
}

#gsps {
    position: relative;
}

#gsps .grid {
    z-index: 1;
    transition: all 0.8s;
}

.see-report-button {
    background-color: var(--secondary-color);
    text-decoration: none;
    border: var(--border-width) solid var(--shadow-color);
    padding: 10px 5px;
    margin: 8px;
    transition: all 1s;
    font-size: 0.8rem;
    z-index: 3;
    overflow: hidden;
}

.see-report-button::before {
    background: var(--primary-color);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
    transition: all 0.3s ease;
    width: 100%;
    height: 0;
}

.see-report-button:hover::before {
    height: 400%;
}

.see-report-button:hover, .see-report-button:active {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

#button {
    border: var(--border-width) solid transparent;
    padding: 10px 5px;
    margin: 8px;
    transition: all 0.2s;
    background-color: transparent;
    z-index: 3;
}

#button:hover {
    border-color: var(--secondary-color);
}

#button:active {
    border-color: transparent;
    background-color: var(--secondary-color);
}

#button:active p {
    color: var(--primary-color);
}

.icon {
    margin: 20%;
}

.move-up, .full-name {
    box-shadow: 0 10px 0 0 var(--primary-color);
    border: var(--border-width) solid var(--secondary-color);
}

.move-up {
    transform: translateY(calc(-1 * var(--float-length)));
}

.full-name {
    width: calc(var(--grid-dimension) * 2);
    height: var(--grid-dimension);
    position: absolute;
    right: 0;
    top: calc(-1 * var(--float-length));
    
}

.hidden {
    display: none;
}