@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --secondary-color: white;
    --primary-color: #222;
    --shadow-color: #111;
    --grid-dimension: 110px;
    --float-length: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
.description {
    height: 100%;
}

body {
    font-family: 'Fira Code', monospace;
}

body,
.container, 
.row, 
.grid,
.description,
#gsps,
.full-name {
    display: flex;
}

body,
.grid,
.full-name {
    justify-content: center;
    align-items: center;
}

body,
.grid,
.see-report-button:hover,
.full-name {
    background-color: var(--primary-color);
}

.row {
    position: relative;
}

.container {
    background-color: var(--secondary-color);
    flex-direction: column;
}

.grid {
    width: var(--grid-dimension);
    height: var(--grid-dimension);
    transition: all 0.2s;
}

.move {
    transform: translateX(calc(var(--grid-dimension) * -1));
}

#gsps > p {
    height: var(--grid-dimension);
    width: var(--grid-dimension);
}

@media (min-width: 400px) {
    :root {
        --grid-dimension: 120px;
    }
}

@media (min-width: 700px) {
    :root {
        --grid-dimension: 160px;
    }
}

@media (min-width: 1000px) {
    :root {
        --grid-dimension: 180px;
    }
}

a {
    color: var(--primary-color);
    position: relative;
    cursor: default;
    text-decoration: none;
}

.grid:hover {
    background-color: #313131;
}

.row:nth-child(1) a:nth-child(1):hover .grid {
    transform: translate(calc(-1 * var(--float-length)), calc(-1 * var(--float-length)));
}

.row:nth-child(2) a:nth-child(3):hover  .grid {
    transform: translateX(var(--float-length));
}

.row:nth-child(3) a:nth-child(1):hover  .grid {
    transform: translate(calc(-1 * var(--float-length)), var(--float-length));
}

.row:nth-child(3) a:nth-child(2):hover  .grid {
    transform: translateY(var(--float-length));
}

p, .description {
    cursor: default;
}

p {
    color: var(--secondary-color);
}

a p,
.clickable p,
.clickable, 
.link,
button {
    cursor: pointer;
}

.description {
    width: 100%;
    color: var(--primary-color);
    position: absolute;
    text-align: center;
    align-items: center;
}

#gsps {
    position: relative;
}

#gsps .grid {
    z-index: 1;
    transition: all 0.8s;
    cursor: pointer;
}

.see-report-button {
    background-color: var(--secondary-color);
    text-decoration: none;
    border: 2px solid var(--shadow-color);
    border-radius: 10px;
    padding: 10px 5px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.8rem;
}

.see-report-button:hover, .see-report-button:active {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.icon {
    margin: 20%;
}

.move-up {
    transform: translateY(calc(-1 * var(--float-length)));
    box-shadow: 0 0 15px 0 var(--primary-color);
    border: 2px solid var(--secondary-color);
}

.full-name {
    width: calc(var(--grid-dimension) * 2);
    height: var(--grid-dimension);
    position: absolute;
    right: 0;
    top: calc(-1 * var(--float-length));
    border: 2px solid var(--secondary-color);
}

.hidden {
    display: none;
}